@page "/students"
<h1>
    Students List
</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    @foreach(var student in students){
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Sex</td>
            <td>@student.DateOfBirth</td>
            <td>@student.Phone</td>
            <td>@student.Email</td>
        </tr>
    }
</table>
@code{
    public class Student
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Sex { get; set; }
        public DateTime DateOfBirth { get; set; }   
        public string Phone { get; set; }
        public string Email { get; set; }
    }
        private List<Student> students  = new List<Student>();
        
        protected override void OnInitialized()
        {
           students = new List<Student>
            {
                new Student{Id=1, Name="Louis BIKORIMANA", Sex="Female",Phone="078958595", DateOfBirth= new DateTime(2000,5,1), Email="bikorimana@gmail.com"},
                new Student{Id=1, Name="Louis BIKORIMANA", Sex="Female",Phone="078958595", DateOfBirth= new DateTime(2000,5,1), Email="bikorimana@gmail.com"}
            };
            

        }
    }