@page "/students"
@using Application.Services.StudentServices
@using Domain.Entities
@inject NavigationManager Navigation
@inject IStudentService StudentService
<h1>
    Students List
</h1>
<a class="btn btn-primary" href="/students/add">Add Student</a>
<table class="table" >
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Date Of Birth</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    @foreach(var student in students){
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Sex</td>
            <td>@student.DateOfBirth</td>
            <td>@student.Phone</td>
            <td>@student.Email</td>
            <td><a href="/students/@student.Id" class="btn btn-primary" >View Details</a><a class="btn btn-secondary" href="/students/update/@student.Id">Update</a></td>

        </tr>
    }
</table>
@code{
    
        private List<Student> students  = new List<Student>();
        
        protected override void OnInitialized()
        {
            students= StudentService.GetAllStudents();

        }

    }